{% extends '::base.html.twig' %}
{% import 'PlanillasCoreBundle:Macros:macros.html.twig' as macros %}
{% block title %}
    Historial de trabajo
{% endblock %}
{% block foot_script %}
  {{ parent() }}
    <script>
         $(function() {

           $('#planillas_corebundle_csolicitudempleo_fechaTrabajo').datepicker
		   ({
           format: "yyyy-mm-dd"
          });
  });
    </script>
{% endblock %}
{% block content_content %}
    {% for mensaje in app.session.flashbag.get('info') %}
        <div class="alert alert-info">{{ mensaje }}</div>
    {% endfor %}
    <div class="row">
        {% block content %}
            <div class="col-lg-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Supervisor
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal" action="{{ path('ctrabajo_supervisor',{ 'id_empleado': eEmpleado.id }) }}" method="post" {{ form_enctype(formSupervisor) }}>
                            <fieldset>


                                <div class="row-fluid">
                                    <div class="col-lg-6">{{ form_row(formSupervisor.supervisor) }}</div>
                                </div>

                            </fieldset>
                            {{ form_rest(formSupervisor) }}
                            <button type="submit" class="btn btn-primary">Guardar</button>
                            {{ form_end(formSupervisor) }}

                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Trabajo Actual</h2>
                    </div>
                    <div class="panel-body">
                        {{ form_start(edit_form) }}

                        <fieldset>


                            <div class="row-fluid">
                                <div class="col-lg-6">{{ form_row(edit_form.nombre) }}</div>
                                <div class="col-lg-6">{{ form_row(edit_form.fechaTrabajo) }}</div>

                            </div>

                        </fieldset>
                        {{ form_rest(edit_form) }}
                        {{ form_end(edit_form) }}

                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Trabajos Anteriores</h2>
                    </div>
                    <div class="panel-body">


                        <a href="{{ path('historiatrabajo_new',{'id_empleado': eEmpleado.id}) }}" class="btn btn-primary">Adicionar</a>
                        <hr/>
                        {{ render(controller('PlanillasEntidadesBundle:EHistoriaTrabajo:index',{'id':eEmpleado.id}))}}
                    </div>
                </div>

            </div>
            <div class="col-sm-3">
                {{ macros.empleado_foto(eEmpleado)}}
                {{ macros.menu_empleado('historiatrabajo',eEmpleado) }}
            </div>
        {% endblock  %}
    </div>

{% endblock %}
