<table class="table table-bordered table-hover table-responsive">
    <thead>
    <tr>

        <th>Momento</th>
        <th>Fecha Inicio</th>
        <th>Fecha Fin</th>
        <th>Tiempo</th>

        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>

            <td>{{ entity.momento }}</td>





            <td>{% if entity.fechaInicio %}{{ entity.fechaInicio|date('Y-m-d') }}{% endif %}</td>
            <td>{% if entity.fechaFin %}{{ entity.fechaFin|date('Y-m-d') }}{% endif %}</td>
            <td>{{ entity.tiempo }}</td>

            <td>
                <a  class="btn btn-default" href="{{ path('historiatrabajo_edit', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-pencil"></i>Editar</a>
                <a  class="btn btn-default" href="{{ path('historiatrabajo_delete', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-trash"></i>Borrar</a>
            </td>
        </tr>
    {% endfor %}

    </tbody>
</table>