
{% extends '::base.html.twig' %}
{% import 'PlanillasCoreBundle:Macros:macros.html.twig' as macros %}
{% block title %}
    Adicionar Historico
{% endblock %}
{% block foot_script %}
    {{ parent() }}
    <!--<script src="{# asset('bundles/planillascore/js/jquery.ui.1.8.16.js') #}"></script>-->
    <script>
        $(function () {



            $('#planillas_entidadesbundle_ehistoriatrabajo_fechaInicio').datepicker
            ({
                format: "yyyy-mm-dd"
            });
            $('#planillas_entidadesbundle_ehistoriatrabajo_fechaFin').datepicker
            ({
                format: "yyyy-mm-dd"
            });

        })

    </script>
{% endblock %}
{% block content_content %}

    <div class="row">
    {% block content %}
        <div class="col-lg-9">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Adicionar Trabajo Anterior</h2>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" action="{{ path('historiatrabajo_create',{'id_empleado':eEmpleado.id}) }}"
                          method="post" {{ form_enctype(form) }}>
                        <fieldset>

                            {{ form_errors(form) }}
							 <div class="row-fluid">
							   
                                
                               
                           
							    <div class="col-lg-4">{{ form_row(form.nombreJefe) }}</div>
								<div class="col-lg-4">{{ form_row(form.puesto) }}</div>
							    <div class="col-lg-4">{{ form_row(form.tiempo) }}</div>
                                
                            </div> 
                           
							
                        </fieldset>
						<fieldset>
						 <div class="row-fluid">
                                
                                <div class="col-lg-4">{{ form_row(form.fechaInicio) }}</div>
                                <div class="col-lg-4">{{ form_row(form.fechaFin) }}</div>
								<div class="col-lg-4">{{ form_row(form.telefono) }}</div>
                            </div>
						</fieldset>
						<fieldset>
						   <div class="row-fluid">
							<div class="col-lg-4">{{ form_row(form.momento) }}</div>
							<div class="col-lg-4">{{ form_row(form.direccion) }}</div>
                           
							</div>
						</fieldset>
                        <hr>
                        <fieldset>
                            <div class="row">
                                 <div class="col-lg-8">{{ form_row(form.empresaPatrono) }}</div>
                              </div>
                        </fieldset>
                        <hr>
						 <fieldset>

                              
                            <div class="row-fluid">
                                
                                <div class="col-lg-4">{{ form_row(form.salario) }}</div> 
								<div class="col-lg-4">{{ form_row(form.empleado) }}</div> 								
                                <div class="col-lg-4">{{ form_row(form.motivoSalida) }}</div>
                            </div>

                        </fieldset>
                         
                        {{ form_rest(form) }}
                        <fieldset>
                            <div class="btn-group">
                                <input type="submit" class="btn btn-primary" value="Actualizar">
                            </div>
                            <div class="btn-group">
                                <a href="{{ path('ctrabajo_new',{'id_empleado':entity.empleado.id}) }}" class="btn btn-primary">Regresar</a>
                            </div>
                        </fieldset>

                        <form>
                </div>
            </div>

        </div>
        <div class="col-sm-3">
            {{ macros.empleado_foto(eEmpleado) }}
            {{ macros.menu_empleado('historiatrabajo',eEmpleado) }}


        </div>



        </div>
    {% endblock content %}
    </div>

{% endblock %}

