<table class="table table-striped table-hover">
    <tr><th style="width: 30%;">Empresa: </th><td style="width: 70%;">{{ ref.empresa }}</td></tr>
    <tr><th>Jefe inmediato: </th><td>{{ ref.jefeInmediato }}</td></tr>
    <tr><th>Puesto desempeñado: </th><td>{{ ref.puestoDesempennado }}</td></tr>
    <tr><th>Persona de referencia: </th><td>{{ ref.personaReferencia }}</td></tr>
    <tr><th>Teléfono: </th><td>{{ ref.telefono }}</td></tr>
    <tr><th>Fecha inicio: </th><td>{{ ref.fechaInicio|date('d/m/Y') }}</td></tr>
    <tr><th>Fecha final: </th><td>{{ ref.fechaFinal|date('d/m/Y') }}</td></tr>
    <tr><th>Motivo de Salida: </th><td>{{ ref.motivoSalida }}</td></tr>
    <tr><th>Recontratable: </th><td>{{ ref.recontratable }}</td></tr>
    <tr><th>Referencia: </th><td>{{ ref.clasificacionReferencia }}</td></tr>
    <tr><th>Fecha Completado: </th><td>{{ ref.fechaCompletado|date('d/m/Y') }}</td></tr>
    <tr><th>Comentarios: </th><td>{{ ref.comentarios }}</td></tr>
</table>
