<table class="table table-striped table-hover">
    <tr><th style="width: 30%;">Nombre Persona: </th><td style="width: 70%;">{{ ref.nombrePersona }}</td></tr>
    <tr><th>Tiempo que lo conoce: </th><td>{{ ref.tiempoConocerlo }}</td></tr>
    <tr><th>Posee Hijos: </th><td>{{ ref.poseeHijos }}</td></tr>
    <tr><th>Lugar de residencia: </th><td>{{ ref.lugarResidencia }}</td></tr>
    <tr><th>Conoce porque dejó laborar: </th><td>{{ ref.conocePQDejoLaborar }}</td></tr>
    <tr><th>Estado civil: </th><td>{{ ref.estadoCivil }}</td></tr>
    <tr><th>Referencia: </th><td>{{ ref.clasificacionReferencia }}</td></tr>
    <tr><th>Fecha Completado: </th><td>{{ ref.fechaCompletado|date('d/m/Y') }}</td></tr>
    <tr><th>Comentarios: </th><td>{{ ref.comentarios }}</td></tr>
</table>