<div class="row">
    <div class="col-lg-3">Empresa: </div><div class="col-lg-9">{{ ref.empresa }}</div>
    <div class="col-lg-3">Jefe inmediato: </div><div class="col-lg-9">{{ ref.jefeInmediato }}</div>
    <div class="col-lg-3">Puesto desempeñado: </div><div class="col-lg-9">{{ ref.puestoDesempennado }}</div>
    <div class="col-lg-3">Persona de referencia: </div><div class="col-lg-9">{{ ref.personaReferencia }}</div>
    <div class="col-lg-3">Teléfono: </div><div class="col-lg-9">{{ ref.telefono }}</div>
    <div class="col-lg-3">Fecha inicio: </div><div class="col-lg-9">{{ ref.fechaInicio|date('d/m/Y') }}</div>
    <div class="col-lg-3">Fecha final: </div><div class="col-lg-9">{{ ref.fechaFinal|date('d/m/Y') }}</div>
    <div class="col-lg-3">Motivo de Salida: </div><div class="col-lg-9">{{ ref.motivoSalida }}</div>
    <div class="col-lg-3">Recontratable: </div><div class="col-lg-9">{{ ref.recontratable }}</div>
    <div class="col-lg-3">Referencia: </div><div class="col-lg-9">{{ ref.clasificacionReferencia }}</div>
    <div class="col-lg-3">Fecha Completado: </div><div class="col-lg-9">{{ ref.fechaCompletado|date('d/m/Y') }}</div>
    <div class="col-lg-3">comentarios: </div><div class="col-lg-9">{{ ref.Comentarios }}</div>
</div>

