{% extends '::base.html.twig' %}

{% import 'PlanillasCoreBundle:Macros:macros.html.twig' as macros %}

{% block title 'Ver detalles de referencia' %}

{% block headline 'Ver detalles de referencia' %}

{% block content %}
    <div class="col-lg-9" style="padding: 8px;">
        {% if type is same as('laboral') %}
            {% include '@PlanillasCore/CEmpleadoReferencias/_referencias_laboral_detalles.html.twig' with {'ref': referencia} %}
        {% else %}
            {% include '@PlanillasCore/CEmpleadoReferencias/_referencias_personal_detalles.html.twig' with {'ref': referencia} %}
        {% endif %}
        {# -- no mostrar boton de eliminar --
        {{ form_start(delete_form) }}
        {{ form_widget(delete_form.id) }}
        <button type="submit" class="btn btn-danger">Eliminar</button>
        {{ form_end(delete_form) }}
        #}
        <a class="btn btn-default" href="{{ path('empleado_referencias', {'id_empleado': eEmpleado.id}) }}">Cerrar</a>
    </div>
    <div class="col-lg-3">
        {{ macros.empleado_foto(eEmpleado) }}
        {{ macros.menu_empleado('referencias',eEmpleado) }}
    </div>
{% endblock content %}

{% block foot_script %}
    {{ parent() }}
{% endblock foot_script %}