{% extends '::base.html.twig' %}

{% block content_content %}
    <h1>EEducacion list</h1>

    <table class="table table-bordered table-hover table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('educacion_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('educacion_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('educacion_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('educacion_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
