{% extends '::base.html.twig' %}

{% import 'PlanillasCoreBundle:Macros:macros.html.twig' as macros %}
{% block title %}
    Modificar Licencias
{% endblock %}
{% block content_content %}
    {% for mensaje in app.session.flashbag.get('info') %}
		<div class="alert alert-info">{{ mensaje }}</div>
    {% endfor %}

    <div class="row">
        {% block content %}
            <div class="col-lg-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                            <h2 class="panel-title">Licencias</h2>
                    </div>        
                            <div class="panel-body">
                                <hr>
                                <table class="table table-bordered table-hover table-responsive">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Código</th>
                                            <th>Vence</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for entity in entities %}
                                        <tr>
                                            <td><a href="{{ path('elicencia_edit', { 'id': entity.id }) }}">{% if entity.tipoLicencia %} {{ entity.tipoLicencia.nombre }} {% endif %}</a></td>
                                            <td>{% if entity.tipoLicencia %} {{ entity.tipoLicencia.codigo }} {% endif %}</td>
                                            <td>{% if entity.vence %}{{ entity.vence|date('Y-m-d H:i:s') }}{% endif %}</td>
                                            <td>
                                                <div style="float: left">
                                                <a class="btn btn-primary" href="{{ path('elicencia_edit', { 'id': entity.id }) }}">Editar</a>
                                                </div>     
                                                <div style="float: left; padding-left: 10px">
                                                {{ form_start(aDeleteForm[entity.id]) }}
                                                {{ form_errors(aDeleteForm[entity.id]) }}
                                                {{ form_end(aDeleteForm[entity.id]) }} 
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>


                                        <a class="btn btn-primary" href="{{ path('elicencia_new', { 'id_empleado': eEmpleado.id }) }}">
                                            Nuevo
                                        </a>
                            </div>                    
                </div>
            </div>
            <div class="col-sm-3">
			    {{ macros.empleado_foto(eEmpleado) }}
                {{ macros.menu_empleado('licencia',eEmpleado) }}
            </div>
        {% endblock content %}    
    </div>
    {% endblock %}
