{% extends '::base.html.twig' %}
{% set headline="Gestionar Incapacidades " %}
{% block title %}
    Sistema de Planillas:{{ headline }}
{% endblock %}
{% block headline %}
    {{ headline }}
{% endblock headline %}
{% block foot_script %}
    {{ parent() }}
    <!--<script src="{# asset('bundles/planillascore/js/jquery.ui.1.8.16.js') #}"></script>-->
    <script>
        $(function () {


            $('#planillas_corebundle_buscar_incapacidades_fechaInicio').datepicker
            ({
                format: "yyyy-mm-dd"
            });
            $('#planillas_corebundle_buscar_incapacidades_fechaFin').datepicker
            ({
                format: "yyyy-mm-dd"
            });
            $('#planillas_corebundle_cincapacidades_fechaInicio').datepicker
            ({
                format: "yyyy-mm-dd"
            });
            $('#planillas_corebundle_cincapacidades_fechaFin').datepicker
            ({
                format: "yyyy-mm-dd"
            });

            $('#add_new').click(function () {
                //$.resetForm()
                //$('#horasextrasForm').resetForm();
                $('#planillas_corebundle_cincapacidades_empleado').val(0);
                $('#planillas_corebundle_cincapacidades_tipoIncapacidad').val(0);
                $('#planillas_corebundle_cincapacidades_fechaInicio').val("");
                $('#planillas_corebundle_cincapacidades_fechaFin').val("");
                $('#planillas_corebundle_cincapacidades_motivo').val("");
                $('#planillas_corebundle_cincapacidades_id').val("");
                $('#btn_actualizar').html('Crear');
                $('#myTab a:first').tab('show');

            })


        })

        function buscar(id) {
            $('#progreso').css('display', 'block');

            $.ajax({
                url: '{{ path('ceditajaxincapacidades') }}',
                data: {id: id},
                dataType: 'json',
                success: function (data) {
                    $('#progreso').css('display', 'none');
                    if (data.success) {
                        $('#planillas_corebundle_cincapacidades_empleado').val(data.data.empleado);
                        $('#planillas_corebundle_cincapacidades_tipoIncapacidad').val(data.data.tipoIncapacidad);
                        $('#planillas_corebundle_cincapacidades_fechaInicio').val(data.data.fechaInicio);
                        $('#planillas_corebundle_cincapacidades_fechaFin').val(data.data.fechaFin);
                        $('#planillas_corebundle_cincapacidades_motivo').val(data.data.motivo);
                        $('#planillas_corebundle_cincapacidades_id').val(data.data.id);
                        $('#btn_actualizar').html('Actualizar');
                        $('#myTab a:first').tab('show')
                    }
                    else {
                       $('#progreso').css('display', 'none');
                        alert(data.mensaje)

                    }

                },
                failure: function () {
                    alert("Ocurrió un error al obtener los datos");
                }

            })
        }

    </script>
{% endblock %}
{% block content_content %}

    {% block content %}
        {% set tipodeuda=['Uniformes','Sanciones','Préstamos'] %}
        <ul id="myTab" class="nav nav-tabs">
            <li><a href="#deudas" data-toggle="tab">Incapacidades</a></li>
            <li class="active"><a href="#historial" data-toggle="tab">Historial de Incapacidades</a></li>

        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade" id="deudas">
                <br/>

                <div class="row">
                    <div class="col-lg-12">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h2 class="panel-title">Agregar Incapacidad</h2>
                            </div>
                            <div class="panel-body">
                                <form class="form" action="{{ path('cincapacidades_create') }}"
                                      method="post" {{ form_enctype(form) }} name="incapacidadesForm"
                                      id="incapacidadesForm">
                                    <input type="hidden" class=" not-removable form-control" name="planillas_id[id]"
                                           id="planillas_corebundle_incapacidades_id">
                                    {{ form_errors(form) }}
                                    <fieldset>
                                        <div class="row-fluid">
                                            <div class="col-lg-4">{{ form_row(form.empleado) }}</div>
                                        </div>

                                    </fieldset>
                                    <hr>
                                    <fieldset>
                                        <div class="row-fluid">
                                            <div class="col-lg-4">{{ form_row(form.tipoIncapacidad) }}</div>
                                            <div class="col-lg-4">{{ form_row(form.fechaInicio) }}</div>
                                            <div class="col-lg-4">{{ form_row(form.fechaFin) }}</div>


                                        </div>
                                    </fieldset>

                                    <fieldset>
                                        <div class="row-fluid">

                                            <div class="col-lg-4">{{ form_row(form.motivo) }}</div>


                                        </div>

                                    </fieldset>
                                    {{ form_rest(form) }}
                                    <hr>
                                    <fieldset>

                                        <div class="btn-group">
                                            <button type="submit" id="btn_actualizar" name="btn_actualizar"
                                                    class="btn btn-primary">Crear
                                            </button>

                                        </div>
                                        <div class="btn-group">
                                            <a href="{{ path('cincapacidades') }}" class="btn btn-default">Regresar</a>

                                        </div>
                                    </fieldset>

                                </form>

                            </div>
                        </div>


                    </div>
                </div>
            </div>

            <div class="tab-pane fade active in" id="historial">
                <br/>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Buscar Incapacidades</h2>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal" action="{{ path('cincapacidades') }}"
                              method="post" id="form_buscar_incapacidades">
                            <fieldset>


                                <div class="row-fluid">
                                    <div class="col-lg-4">{{ form_row(form_buscar.empleado) }}</div>
                                    <div class="col-lg-4">{{ form_row(form_buscar.fechaInicio) }}</div>
                                    <div class="col-lg-4">{{ form_row(form_buscar.fechaFin) }}</div>


                                </div>

                            </fieldset>
                            <fieldset>
                                <div class="row-fluid">
                                    <div class="col-lg-4">{{ form_row(form_buscar.tipoIncapacidad) }}</div>
                                </div>
                                {{ form_rest(form_buscar) }}
                            </fieldset>

                            <fieldset>
                                <legend></legend>
                                <div class="btn-group">
                                    <button type="submit" id="buscar_incapacidades" name="btn_buscar"
                                            class="btn btn-default">
                                        Buscar
                                    </button>

                                </div>
                                <div class="btn-group">

                                    <button type="submit" id="reiniciar_incapacidades" name="btn_reiniciar"
                                            class="btn btn-primary">Reiniciar
                                    </button>
                                </div>
                            </fieldset>

                    </div>
                    </form>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Listado de Incapacidades
                        </h3>
                    </div>
                    <div class="panel-body">
                         <div id="progreso" style="display: none">
                                   <h4>Cargando... por favor espere.</h4>
                                   <div class="progress progress-striped active">
                                       <div class="progress-bar" style="width: 100%"></div>
                                   </div>
                          </div>
                        <div class="btn-group">

                            <a class="btn btn-primary" id="add_new" href="#">
                                Agregar
                            </a>
                        </div>
                        <hr/>
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>Empleado</th>
                                <th>Incapacidad</th>
                                <th>Desde</th>
                                <th>Hasta</th>
                                <th>Motivo</th>
                                <th>Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% set tipoIncapacidad=['Incapacidades CCSS','Incapacidades INS'] %}
                            {% for entity in pagination %}
                                <tr>
                                    <td>{{ entity.empleado.nombre }} {{ entity.empleado.primerApellido }}</td>
                                    <td>
                                            {{ tipoIncapacidad[entity.tipoIncapacidad] }}
                                       </td>
                                    <td>{% if entity.fechaInicio %}{{ entity.fechaInicio|date('Y-m-d') }}{% endif %}</td>
                                    <td>{% if entity.fechaFin %}{{ entity.fechaFin|date('Y-m-d') }}{% endif %}</td>
                                    <td>{{ entity.motivo }}</td>
                                    <td>

                                        <a class="btn btn-primary" id="linkedit" onclick="buscar('{{ entity.id }}')"
                                           href="#"><i
                                                    class="glyphicon glyphicon-pencil"></i>Editar</a>
                                        <a class="btn btn-primary"
                                           href="{{ path('cincapacidades_delete',{'id':entity.id}) }}"><i
                                                    class="glyphicon glyphicon-trash"></i>Eliminar</a>

                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>

                        {{ knp_pagination_render(pagination) }}


                    </div>
                </div>
            </div>


        </div>


        </div>






    {% endblock content %}


{% endblock %}
