<table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>

        <th>Tipo C</th>
        <th>Quincena</th>
        <th>Moneda</th>
        <th>Monto</th>
        <th>Pagado</th>
        <th>Acción</th>

    </tr>
    </thead>
    <tbody>
    {% for entitys in entities %}
        <tr>
            <td><a href="{{ path('ecomponentessalariales_edit', { 'id': entitys.id }) }}">{%if entitys.componente==0%}Rebajo{% else %}Bonificacion{%endif%}</a></td>{#esto hay que cambiarlo#}
            <td>
                {% if entitys.fechaInicio is empty %}
                    ----
                {% else %}
                    {{entitys.fechaInicio | date('d') ~ '-' ~ entitys.fechaVencimiento|date('d/m/Y')}}
                {% endif %}

            </td>
            <td>{% if entitys.moneda==0%}Colón{% else %}USD{%endif%}</td>
            <td>
                {% if entitys.componente ==0 %}
                    {{ entitys.montoTotal }}
                {% else %}
                    {{ entitys.cantidad }}
                {% endif %}
            </td>
            <td>
                {% if entitys.pagado ==0 or entitys.pagado==null %}
                    <i class="glyphicon glyphicon-remove" title="No pagado"></i>
                {% else %}

                    <i class="glyphicon glyphicon-ok" title="Pagado"></i>


                {% endif %}
            </td>
            <td>
                <a href="{{ path('ecomponentessalariales_delete',{'id':entitys.id})}}" class="btn btn-primary"><i class="glyphicon glyphicon-trash"></i> Eliminar</a>

            </td>
        </tr>
    {% endfor %}

    </tbody>
</table>
