{% extends '::base.html.twig' %}
{% import 'PlanillasCoreBundle:Macros:macros.html.twig' as macros %}
{% block title %}
    Sistema de Planillas: Agregar Componente Salarial
{% endblock %}
{% block headline %}
    Gestionar Componentes
{% endblock %}
{% block foot_script %}
    {{ parent() }}

    <script type="text/javascript">
        $(function () {

           $('#planillas_entidadesbundle_ecomponentessalariales_permanente').change(function (){
               if(this.checked)
               {
                 //alert("hola")
                 $('#planillas_entidadesbundle_ecomponentessalariales_fechaInicio').attr('disabled',true);
                 $('#planillas_entidadesbundle_ecomponentessalariales_numeroCuotas').attr('disabled',true);
                $('#planillas_entidadesbundle_ecomponentessalariales_fechaVencimiento').attr('disabled',true);
               }
               else
               {
                 $('#planillas_entidadesbundle_ecomponentessalariales_fechaInicio').removeAttr('disabled');
                 $('#planillas_entidadesbundle_ecomponentessalariales_numeroCuotas').removeAttr('disabled');
                 $('#planillas_entidadesbundle_ecomponentessalariales_fechaVencimiento').removeAttr('disabled');

               }

           })



            $('#planillas_entidadesbundle_ecomponentessalariales_fechaInicio').datepicker
            ({
                format: "yyyy-mm-dd"
            });
            $('#planillas_entidadesbundle_ecomponentessalariales_fechaVencimiento').datepicker
            ({
                format: "yyyy-mm-dd"
            });
            valdefault = $('#planillas_entidadesbundle_ecomponentessalariales_componente').val();
            if (valdefault == 1) {
                $("#collapseOne").collapse('show');
                //eliminando atributos de las deudas cuando tiene seleccionado la bonificacion
                    $("#planillas_entidadesbundle_ecomponentessalariales_tipoDeuda").removeAttr('required');
                    $("#planillas_entidadesbundle_ecomponentessalariales_fechaInicio").removeAttr('required');
                    $("#planillas_entidadesbundle_ecomponentessalariales_montoTotal").removeAttr('required');
                    $("#planillas_entidadesbundle_ecomponentessalariales_numeroCuotas").removeAttr('required');

                    //adicionando atributos de la bonificacion

                    $("#planillas_entidadesbundle_ecomponentessalariales_cantidad").attr('required','required');
                    $("#planillas_entidadesbundle_ecomponentessalariales_fechaVencimiento").attr('required','required');




            }
            else {
                 $("#planillas_entidadesbundle_ecomponentessalariales_tipoDeuda").attr('required','required');
                    $("#planillas_entidadesbundle_ecomponentessalariales_fechaInicio").attr('required','required');
                    $("#planillas_entidadesbundle_ecomponentessalariales_montoTotal").attr('required','required');
                    $("#planillas_entidadesbundle_ecomponentessalariales_numeroCuotas").attr('required','required');

                    //adicionando atributos de la bonificacion

                    $("#planillas_entidadesbundle_ecomponentessalariales_cantidad").removeAttr('required');
                    $("#planillas_entidadesbundle_ecomponentessalariales_fechaVencimiento").removeAttr('required');

                $("#collapseTwo").collapse('show')
            }
            $('#planillas_entidadesbundle_ecomponentessalariales_componente').change(function (value) {
                var val = $(this).val();
                if (val == 1) {//bonificacion
                    //eliminando atributos de las deudas cuando tiene seleccionado la bonificacion
                    $("#planillas_entidadesbundle_ecomponentessalariales_tipoDeuda").removeAttr('required');
                    $("#planillas_entidadesbundle_ecomponentessalariales_fechaInicio").removeAttr('required');
                    $("#planillas_entidadesbundle_ecomponentessalariales_montoTotal").removeAttr('required');
                    $("#planillas_entidadesbundle_ecomponentessalariales_numeroCuotas").removeAttr('required');

                    //adicionando atributos de la bonificacion

                    $("#planillas_entidadesbundle_ecomponentessalariales_cantidad").attr('required','required');
                    $("#planillas_entidadesbundle_ecomponentessalariales_fechaVencimiento").attr('required','required');



                    $("#collapseOne").collapse('show');
                    $("#collapseTwo").collapse('hide')


                }
                else {

                    $("#planillas_entidadesbundle_ecomponentessalariales_tipoDeuda").attr('required','required');
                    $("#planillas_entidadesbundle_ecomponentessalariales_fechaInicio").attr('required','required');
                    $("#planillas_entidadesbundle_ecomponentessalariales_montoTotal").attr('required','required');
                    $("#planillas_entidadesbundle_ecomponentessalariales_numeroCuotas").attr('required','required');

                    //adicionando atributos de la bonificacion

                    $("#planillas_entidadesbundle_ecomponentessalariales_cantidad").removeAttr('required');
                    $("#planillas_entidadesbundle_ecomponentessalariales_fechaVencimiento").removeAttr('required');

                    $("#collapseOne").collapse('hide');
                    $("#collapseTwo").collapse('show');

                }

            })

        })
        function validateForm(){
            valdefaulext = $('#planillas_entidadesbundle_ecomponentessalariales_componente').val();
            if (valdefaulext == 1) { //bonificacion
               // $('#planillas_entidadesbundle_ecomponentessalariales_cantidad').val()

            }
            else {//rebajo

            }

        }
    </script>
{% endblock %}
{% block content_content %}

    {% for mensaje in app.session.flashbag.get('info') %}
        <div class="alert alert-info">{{ mensaje }}</div>
    {% endfor %}

    <div class="row">
        {% block content %}
            <div class="col-lg-9">
                <div class="panel panel-default">
                    <div class="panel-heading"> <!-- Encabezado panel central -->
                        <h2 class="panel-title">Agregar componente salarial</h2>
                    </div>
                    <div class="panel-body">
                        {{ form_start(form) }}
                        <!-- <form class="form-horizontal" action="{# path('cursos_create') #}"
                        method="post" {{ form_enctype(form) }}>  -->
                        {{ form_errors(form) }}

                        <fieldset>
                            <legend></legend>

                            <div class="row-fluid">
                                <div class="col-lg-6">{{ form_row(form.componente) }}</div>
                                <div class="col-lg-6">{{form_widget(form.permanente)}}</div>


                            </div>
                        </fieldset>
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        Bonificaciones
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <fieldset>
                                            <legend></legend>

                                            <div class="row-fluid">

                                                <div class="col-lg-6">{{ form_row(form.cantidad) }}</div>
                                                <div class="col-lg-6">{{ form_row(form.moneda) }}</div>

                                            </div>
                                        </fieldset>

                                        <fieldset>
                                            <legend></legend>

                                            <div class="row-fluid">
                                                <div class="col-lg-6">{{ form_row(form.fechaVencimiento) }}</div>
                                                <div class="col-lg-6">{{ form_row(form.descripcion) }}</div>

                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="panel-group" id="accordion1">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        Deudas

                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <fieldset>
                                            <div class="row-fluid">
                                                <div class="col-lg-4">{{ form_row(form.tipoDeuda) }}</div>
                                                <div class="col-lg-6"><div class="noclass" id="divfechainicio">{{ form_row(form.fechaInicio) }}</div></div>


                                            </div>
                                        </fieldset>

                                        <fieldset>
                                            <legend></legend>
                                            <div class="row-fluid">

                                                <div class="col-lg-4"><div class="noclass" id="divmontototal">{{ form_row(form.montoTotal) }}</div></div>

                                                <div class="col-lg-4"><div class="noclass" id="divnumercuotas">{{ form_row(form.numeroCuotas) }}</div></div>
                                                <div class="col-lg-4"><div class="noclass" id="divmontototal">{# form_row(form.permanente) #}</div></div>
                                            </div>

                                        </fieldset>






                                        {{ form_rest(form) }}

                                    </div>
                                </div>
                            </div>
                        </div>



                        <fieldset>
                            <legend></legend>
                            <div class="btn-group">
                                <button type="submit" id="btn_actualizar" name="btn_actualizar" class="btn btn-primary">Crear</button>

                            </div>
                            <div class="btn-group">
                                <a href="{{ path('salariobase_new',{'id_empleado':entity.empleado.id})}}" class="btn btn-default">Regresar</a>

                            </div>
                        </fieldset>


                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
            <div class="col-sm-3"> <!-- Menu derecho de empleado -->
                {{ macros.empleado_foto(eEmpleado) }}
                {{ macros.menu_empleado('sueldo',eEmpleado) }}
            </div>
        {% endblock content %}
    </div>
{% endblock %}
