{% extends '::base.html.twig' %}

{% block body -%}
    <h1>EComponentesSalariales</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Componente</th>
                <td>{{ entity.componente }}</td>
            </tr>
            <tr>
                <th>Cantidad</th>
                <td>{{ entity.cantidad }}</td>
            </tr>
            <tr>
                <th>Moneda</th>
                <td>{{ entity.moneda }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
            <tr>
                <th>Fechavencimiento</th>
                <td>{{ entity.fechaVencimiento|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('ecomponentessalariales') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('ecomponentessalariales_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
