{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}

{% extends 'MopaBootstrapBundle::base.html.twig' %}

    {% block head_style %}
        {% stylesheets filter="yui_css" output='css/main.css'
        '@PlanillasCoreBundle/Resources/public/css/jquery.ui.css'
        '@PlanillasTemplateBundle/Resources/public/css/*'
         %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
        {% endstylesheets %}

        {#<link href="{{ asset('bundles/planillastemplate/less/template.less') }}" type="text/less" rel="stylesheet" media="screen" />#}
    {% endblock head_style %}

    {% block head_script %}
        {#<script src="{{ asset('bundles/planillastemplate/js/less-1.4.1.min.js') }}"></script>#}
    {% endblock head_script %}

    {% block title %}
        {% block title_title %}{{ 'system_tittle' | trans({},'PlanillasCoreBundle') }}{% endblock title_title %}
    {% endblock %}

    {% block head_bottom %}{% endblock head_bottom %}

    {% block body_tag %}
    <body data-spy="scroll" data-offset="50" data-target=".subnav">
    {% endblock body_tag %}

    {% block body_start %}{% endblock body_start %}

    {% block navbar %}
        {% embed '@MopaBootstrap/Navbar/navbar.html.twig' with { fixedTop: true, staticTop: false, inverse: true } %}
            {% block brand %}
                <a class="navbar-brand" href="#">{{ 'system_tittle' | trans({},'PlanillasCoreBundle')}}</a>
            {% endblock %}

            {% block menu %}
                {{ mopa_bootstrap_menu('PlanillasTemplateBundle:MenuBuilder:mainMenu') }}
                {{ mopa_bootstrap_menu('PlanillasTemplateBundle:MenuBuilder:userMenu') }}
            {% endblock %}
        {% endembed %}
    {% endblock navbar %}

    {% block container %}
        {% block container_div_start %}<div class="{% block container_class %}container{% endblock container_class %}">{% endblock container_div_start %}

        {% block header %}{% endblock header %}

        {% block content_div_start %}<div class="content">{% endblock content_div_start %}
        {% block page_header %}
            <div class="page-header">
                <h1>{% block headline %}{{ 'system_tittle' | trans({},'PlanillasCoreBundle') }}{% endblock headline %}</h1>
                {#{{ mopa_bootstrap_navbar('sandboxNavbarsSubNavbar') }}#}
            </div>
        {% endblock page_header %}

        {% block flashes %}
            {% if app.session.flashbag.peekAll|length > 0 %}
                <div class="row">
                    <div class="col-sm-12">
                        {{ session_flash() }}
                    </div>
                </div>
            {% endif %}
        {% endblock flashes %}

        {% block content_row %}
            <div class="row">
                {% block content %}
                    <div class="col-lg-12">
                        {% block content_content %}
                        {% endblock content_content %}
                    </div>
                    <!--<div class="col-sm-3">
                        {# block content_sidebar #}
                            <h2>Sidebar</h2>
                        {# endblock content_sidebar #}
                    </div>-->
                {% endblock content %}
            </div>
        {% endblock content_row %}
        {% block content_div_end %}</div>{% endblock content_div_end %}

        <footer>
            {% block footer %}
                {#<p>&copy; <a href="http://www.mohrenweiserpartner.de" target="_blank">Mohrenweiser & Partner</a> 2011-2013</p>#}
            {% endblock footer %}
        </footer>

        {% block container_div_end %}</div><!-- /container -->{% endblock container_div_end %}
    {% endblock container %}

    {% block foot_script %}
        {% javascripts
        '@PlanillasTemplateBundle/Resources/public/js/jquery-1.10.2.min.js'
        '@PlanillasTemplateBundle/Resources/public/js/jquery.validate.js'
        '@PlanillasTemplateBundle/Resources/public/js/bootstrap-timepicker.js'
        '@PlanillasTemplateBundle/Resources/public/js/bootstrap-datepicker.js'
        '@PlanillasTemplateBundle/Resources/public/js/jquery.blockUI.js'
        '@MopaBootstrapBundle/Resources/public/bootstrap/dist/js/bootstrap.min.js'
        '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-collection.js'
        '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-subnav.js'
        filter='yui_js' output='js/main.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {#'@MopaBootstrapBundle/Resources/public/components/smalot-bootstrap-datetimepicker/js/bootstrap-datetimepicker.js'
        '@MopaBootstrapBundle/Resources/public/components/smalot-bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.es.js'#}
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}" type="text/javascript"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}" type="text/javascript"></script>
        {#
        <script type="text/javascript" src="{{ asset('bundles/planillastemplate/js/jquery-1.10.2.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/planillastemplate/vendors/bootstrap/js/tooltip.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/planillastemplate/vendors/bootstrap/js/affix.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/planillastemplate/vendors/bootstrap/js/alert.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/planillastemplate/vendors/bootstrap/js/button.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/planillastemplate/vendors/bootstrap/js/carousel.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/planillastemplate/vendors/bootstrap/js/collapse.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/planillastemplate/vendors/bootstrap/js/dropdown.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/planillastemplate/vendors/bootstrap/js/modal.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/planillastemplate/vendors/bootstrap/js/popover.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/planillastemplate/vendors/bootstrap/js/scrollspy.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/planillastemplate/vendors/bootstrap/js/tab.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/planillastemplate/vendors/bootstrap/js/transition.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/mopabootstrap/js/mopabootstrap-collection.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/mopabootstrap/js/mopabootstrap-subnav.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/mopabootstrap/js/eyecon-bootstrap-datepicker.js') }}"></script>
        #}
    {% endblock foot_script %}
