
{% extends '::base.html.twig' %}
{% set headline="Gestionar Horarios " %}
{% block title %}
Sistema de Planillas:{{ headline }}
{% endblock %}
{% block headline %}
    {{ headline }}
{% endblock headline %}
{% block foot_script %}
    {{ parent() }}


<script src="{{ asset('bundles/planillastemplate/js/bootstrap-timepicker.js') }}"></script>
<script type="text/javascript">

    var collectionHolder = $('ul.unstyled');
    // setup an "add a tag" link
    var $addTagLink = $('<a href="#" class="add_tag_link">Add a route</a>');
    var $newLinkLi = $('<li></li>').append($addTagLink);
    var config = {
        minuteStep: 1,
        modalBackdrop: true,
        secondStep: 10,
        showSeconds: false,
        showInputs: true,
        showMeridian: false
    }
    jQuery(document).ready(function() {
        
       /*$('#planillas_corebundle_chorario_horarioDias_0_activo').on('change',function(){
             if(this.checked){
                $('#planillas_corebundle_chorario_horarioDias_0_horaInicio').attr({disabled:'disabled'});
                $('#planillas_corebundle_chorario_horarioDias_0_horaFin').attr({disabled:'disabled'});
             }  
              
              else{
                $('#planillas_corebundle_chorario_horarioDias_0_horaInicio').removeAttr('disabled');
                $('#planillas_corebundle_chorario_horarioDias_0_horaFin').removeAttr('disabled'); 
              }
       })
       $('#planillas_corebundle_chorario_horarioDias_1_activo').on('change',function(){
             if(this.checked){
                $('#planillas_corebundle_chorario_horarioDias_1_horaInicio').attr({disabled:'disabled'}); 
                $('#planillas_corebundle_chorario_horarioDias_1_horaFin').attr({disabled:'disabled'}); 
             } 
             else
               $('#planillas_corebundle_chorario_horarioDias_0_horaInicio').removeAttr('disabled'); 
       })
       $('#planillas_corebundle_chorario_horarioDias_0_activo').on('change',function(){
             if(this.checked){
                $('#planillas_corebundle_chorario_horarioDias_0_horaInicio').attr({disabled:'disabled'});  
              }
              else
               $('#planillas_corebundle_chorario_horarioDias_0_horaInicio').removeAttr('disabled'); 
       })
       $('#planillas_corebundle_chorario_horarioDias_0_activo').on('change',function(){
             if(this.checked){
                $('#planillas_corebundle_chorario_horarioDias_0_horaInicio').attr({disabled:'disabled'});  
              }
              else
               $('#planillas_corebundle_chorario_horarioDias_0_horaInicio').removeAttr('disabled'); 
       })
       $('#planillas_corebundle_chorario_horarioDias_0_activo').on('change',function(){
             if(this.checked){
                $('#planillas_corebundle_chorario_horarioDias_0_horaInicio').attr({disabled:'disabled'});  
              }
              else
               $('#planillas_corebundle_chorario_horarioDias_0_horaInicio').removeAttr('disabled'); 
       })
       $('#planillas_corebundle_chorario_horarioDias_0_activo').on('change',function(){
             if(this.checked){
                $('#planillas_corebundle_chorario_horarioDias_0_horaInicio').attr({disabled:'disabled'});  
              }
              else
               $('#planillas_corebundle_chorario_horarioDias_0_horaInicio').removeAttr('disabled'); 
       })*/
        
        
    
        $('#planillas_corebundle_chorario_horarioDias_0_horaInicio').timepicker(config);
        $('#planillas_corebundle_chorario_horarioDias_1_horaInicio').timepicker(config);
        $('#planillas_corebundle_chorario_horarioDias_2_horaInicio').timepicker(config);
        $('#planillas_corebundle_chorario_horarioDias_3_horaInicio').timepicker(config);
        $('#planillas_corebundle_chorario_horarioDias_4_horaInicio').timepicker(config);
        $('#planillas_corebundle_chorario_horarioDias_5_horaInicio').timepicker(config);
        $('#planillas_corebundle_chorario_horarioDias_6_horaInicio').timepicker(config);



        $('#planillas_corebundle_chorario_horarioDias_0_horaFin').timepicker(config);
        $('#planillas_corebundle_chorario_horarioDias_1_horaFin').timepicker(config);
        $('#planillas_corebundle_chorario_horarioDias_2_horaFin').timepicker(config);
        $('#planillas_corebundle_chorario_horarioDias_3_horaFin').timepicker(config);
        $('#planillas_corebundle_chorario_horarioDias_4_horaFin').timepicker(config);
        $('#planillas_corebundle_chorario_horarioDias_5_horaFin').timepicker(config);
        $('#planillas_corebundle_chorario_horarioDias_6_horaFin').timepicker(config);

        $('#add_new').click(function() {
            $('#planillas_corebundle_chorario_horarioDias_0_horaInicio').val("");
            $('#planillas_corebundle_chorario_horarioDias_1_horaInicio').val("");
            $('#planillas_corebundle_chorario_horarioDias_2_horaInicio').val("");
            $('#planillas_corebundle_chorario_horarioDias_3_horaInicio').val("");
            $('#planillas_corebundle_chorario_horarioDias_4_horaInicio').val("");
            $('#planillas_corebundle_chorario_horarioDias_5_horaInicio').val("");
            $('#planillas_corebundle_chorario_horarioDias_6_horaInicio').val("");
            $('#planillas_corebundle_chorario_horarioDias_0_horaFin').val("");
            $('#planillas_corebundle_chorario_horarioDias_1_horaFin').val("");
            $('#planillas_corebundle_chorario_horarioDias_2_horaFin').val("");
            $('#planillas_corebundle_chorario_horarioDias_3_horaFin').val("");
            $('#planillas_corebundle_chorario_horarioDias_4_horaFin').val("");
            $('#planillas_corebundle_chorario_horarioDias_5_horaFin').val("");
            $('#planillas_corebundle_chorario_horarioDias_6_horaFin').val("");
            $('#planillas_corebundle_chorario_id').val("");
            $('#planillas_corebundle_chorario_titulo').val("");
            $('#planillas_corebundle_chorario_submit').html('Crear');
            $('#myTab a:first').tab('show');

        })
        // add the "add a tag" anchor and li to the tags ul
        collectionHolder.append($newLinkLi);

        // count the current form inputs we have (e.g. 2), use that as the new
        // index when inserting a new item (e.g. 2)
        collectionHolder.data('index', collectionHolder.find(':input').length);

        $addTagLink.on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // add a new tag form (see next code block)
            addTagForm(collectionHolder, $newLinkLi);
        });
        function addTagForm(collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = collectionHolder.data('prototype');

            // get the new index
            var index = collectionHolder.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);
        }
    });
    function buscar(id) {

        $('#progreso').css('display', 'block');
        $.ajax({
            url: '{{ path('ceditajaxhorario') }}',
            data: {id: id},
            dataType: 'json',
            success: function(data) {
                console.log(data);
                if (data.success) {
                    $('#planillas_corebundle_chorario_horarioDias_0_horaInicio').val(data.dias.Lunes.inicio);//lunes
                    $('#planillas_corebundle_chorario_horarioDias_1_horaInicio').val(data.dias.Martes.inicio);//martes
                    $('#planillas_corebundle_chorario_horarioDias_2_horaInicio').val(data.dias.Mi\u00e9rcoles.inicio);//miercoles
                    $('#planillas_corebundle_chorario_horarioDias_3_horaInicio').val(data.dias.Jueves.inicio);//jueves
                    $('#planillas_corebundle_chorario_horarioDias_4_horaInicio').val(data.dias.Viernes.inicio);//viernes
                    $('#planillas_corebundle_chorario_horarioDias_5_horaInicio').val(data.dias.S\u00e1bado.inicio);//sabado
                    $('#planillas_corebundle_chorario_horarioDias_6_horaInicio').val(data.dias.Domingo.inicio);//domingo

                    $('#planillas_corebundle_chorario_horarioDias_0_horaFin').val(data.dias.Lunes.fin);
                    $('#planillas_corebundle_chorario_horarioDias_1_horaFin').val(data.dias.Martes.fin);
                    $('#planillas_corebundle_chorario_horarioDias_2_horaFin').val(data.dias.Mi\u00e9rcoles.fin);
                    $('#planillas_corebundle_chorario_horarioDias_3_horaFin').val(data.dias.Jueves.fin);
                    $('#planillas_corebundle_chorario_horarioDias_4_horaFin').val(data.dias.Viernes.fin);
                    $('#planillas_corebundle_chorario_horarioDias_5_horaFin').val(data.dias.S\u00e1bado.fin);
                    $('#planillas_corebundle_chorario_horarioDias_6_horaFin').val(data.dias.Domingo.fin);

                    $('#planillas_corebundle_chorario_id').val(data.data.id);
                    $('#planillas_corebundle_chorario_titulo').val(data.data.titulo);
                    /*Active days*/
                    
                     if (data.dias.Lunes.activo) 
                        $('#planillas_corebundle_chorario_horarioDias_0_activo').attr({checked: 'checked'});
                    else
                        $('#planillas_corebundle_chorario_horarioDias_0_activo').removeAttr('checked');
                     if (data.dias.Martes.activo) 
                        $('#planillas_corebundle_chorario_horarioDias_1_activo').attr({checked: 'checked'});
                    else
                        $('#planillas_corebundle_chorario_horarioDias_1_activo').removeAttr('checked');
                     if (data.dias.Mi\u00e9rcoles.activo) 
                        $('#planillas_corebundle_chorario_horarioDias_2_activo').attr({checked: 'checked'});
                    else
                        $('#planillas_corebundle_chorario_horarioDias_2_activo').removeAttr('checked');
                     if (data.dias.Jueves.activo) 
                        $('#planillas_corebundle_chorario_horarioDias_3_activo').attr({checked: 'checked'});
                    else
                        $('#planillas_corebundle_chorario_horarioDias_3_activo').removeAttr('checked');
                     if (data.dias.Viernes.activo) 
                        $('#planillas_corebundle_chorario_horarioDias_4_activo').attr({checked: 'checked'});
                    else
                        $('#planillas_corebundle_chorario_horarioDias_4_activo').removeAttr('checked');
                     if (data.dias.S\u00e1bado.activo) 
                        $('#planillas_corebundle_chorario_horarioDias_5_activo').attr({checked: 'checked'});
                    else
                        $('#planillas_corebundle_chorario_horarioDias_5_activo').removeAttr('checked');
                    if (data.dias.Domingo.activo) 
                        $('#planillas_corebundle_chorario_horarioDias_6_activo').attr({checked: 'checked'});
                    else
                        $('#planillas_corebundle_chorario_horarioDias_6_activo').removeAttr('checked');
                    
                    $('#planillas_corebundle_chorario_submit').html('Actualizar');
                    $('#myTab a:first').tab('show')
                    $('#progreso').css('display', 'none');
                }
                else {
                    $('#progreso').css('display', 'none');
                    alert("Ocurrió un error al obtener los datos")

                }

            },
            failure: function() {
                $('#progreso').css('display', 'none');
                alert("Ocurrió un error al obtener los datos");
            }

        })
    }
    </script>
{% endblock %}


{% block content_content %}

    {% block content %}
    <div class="container">

        <ul id="myTab" class="nav nav-tabs">
            <li><a href="#horario" data-toggle="tab">Crear horario</a></li>
            <li class="active"><a href="#historial" data-toggle="tab">Listado de Horarios</a></li>
        </ul>

        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade" id="horario">
                <br/>
                <div class="row">
                    <div class="col-lg-12">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h2 class="panel-title">Datos del horario</h2>
                            </div>
                            <div class="panel-body">
                                {{ form_start(form) }}
                                    <input type="hidden" class=" not-removable form-control" name="planillas_id[id]"
                                           id="planillas_corebundle_chorario_id">
                                    <fieldset>
                                        <div class="col-lg-4">{{ form_row(form.titulo) }}</div>
                                    </fieldset>
                                {{ form_errors(form) }}

                                    <hr>
                                    <div data-prototype="{{ form_widget(form.horarioDias.vars.prototype)|e }}">
                                {% for ruta in form.horarioDias %}
                                            <fieldset>
                                    {{ form_errors(ruta)}}
                                                    <div class="row-fluid">
                                                        <div class="col-lg-3">{{ form_row(ruta.dia) }}</div>
                                                        <div class="col-lg-3">
                                                            <div class="input-append bootstrap-timepicker">
                                                {{ form_label(ruta.horaInicio) }}
                                                                    <div class="input-group">
                                                        {{ form_widget(ruta.horaInicio) }}
                                                                            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-3">
                                                                    <div class="input-append bootstrap-timepicker">
                                                    {{ form_label(ruta.horaFin) }}
                                                                            <div class="input-group">
                                                        {{ form_widget(ruta.horaFin) }}
                                                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                                                                                </div>

                                                                            </div>
                                                                        </div>
                                                                        <div class="col-lg-3">
                                                {{ form_widget(ruta.activo) }}
                                                                            </div>
                                                                        </div>
                                                                    </fieldset>
                                                                    <hr>
                                {% endfor %}
                                                                </div>

                                {{ form_end(form) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="tab-pane fade active in" id="historial">
                                                <br/>

                                                <div class="panel panel-default ">
                                                    <div class="panel-heading">
                                                        <h3 class="panel-title">
                                                            Listado de horarios
                                                        </h3>
                                                    </div>
                                                    <div class="panel-body">
                                                        <div id="progreso" style="display: none">
                                                            <h4>Cargando... por favor espere.</h4>
                                                            <div class="progress progress-striped active">
                                                                <div class="progress-bar" style="width: 100%"></div>
                                                            </div>
                                                        </div>
                                                        <div class="btn-group">

                                                            <a class="btn btn-primary" id="add_new" href="#">
                                                                Agregar
                                                            </a>
                                                        </div>
                                                        <hr/>
                                                        <table class="table table-striped table-bordered table-hover table-condensed">
                                                            <thead>
                                                                <tr>
                                                                    <th>Horario</th>
                                                                    <th>Acciones</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                            {% if pagination|length >0 %}
                                {% for entity in pagination %}
                                                                    <tr>
                                                                        <td>{{ entity.titulo }} </td>
                                                                        <td>
                                                                            <a class="btn btn-primary" id="linkedit" onclick="buscar('{{ entity.id }}')"
                                                                               href="#"><i
                                                                                    class="glyphicon glyphicon-pencil"></i>Editar</a>
                                                                            <a class="btn btn-primary" href="{{ path('chorario_delete',{'id':entity.id}) }}"><i class="glyphicon glyphicon-trash"></i>Eliminar</a>

                                                                            <a class="btn btn-primary" href="{{ path('chorario_empleados',{'id':entity.id}) }}"><i class="glyphicon glyphicon-plus"></i>Empleados</a>
                                                                            <a class="btn btn-primary" href="{{ path('chorario_fecha',{'id':entity.id}) }}"><i class="glyphicon glyphicon-time"></i>Fecha Excepcional</a>
                                                                        </td>
                                                                    </tr>
                                {% endfor %}
                            {% else %}
                                                                <td colspan="3"> No se encontraron registros</td>
                            {% endif %}

                                                                </tbody>
                                                            </table>
                        {{ knp_pagination_render(pagination) }}


                                                        </div>
                                                    </div>






                                                </div>----


                                            </div>




                                        </div>

    {% endblock content %}


{% endblock %}
