{% form_theme form.bonificaciones 'PlanillasEstructuraBundle:Widgets:bonificaciones_collection_widget.html.twig' %}

<form id="puesto-form" action="" method="post" {{ form_enctype(form) }} class="form-horizontal" style="padding-top: 8px; padding-bottom: 8px;">
    <div class="row" style="margin-bottom: 8px;">
        <div class="col-lg-4">{{ form_row(form.empresa) }}</div>
        <div class="col-lg-4">{{ form_row(form.cliente) }}</div>
        <div class="col-lg-4">{{ form_row(form.sucursal) }}</div>
    </div>
    <div class="row" style="margin-bottom: 8px;">
        <div class="col-lg-4">{{ form_row(form.turno) }}</div>
        <div class="col-lg-4">{{ form_row(form.salario) }}</div>
        <div class="col-lg-4">{{ form_row(form.nombre) }}</div>
    </div>

    <fieldset>
        <legend><h5>{{ form_label(form.bonificaciones) }}</h5></legend>
        {{ form_widget(form.bonificaciones) }}
    </fieldset>

    <hr/>
    <div><a class="btn btn-primary submit-button" href="#" data-content="puesto"><i class="glyphicon glyphicon-plus"></i> Adicionar</a></div>
</form>
