<table class="table table-striped table-bordered table-condensed table-responsive">
    <thead>
    <tr>
        <th>Nombre Puesto</th>
        <th>Empresa</th>
        <th>Cliente</th>
        <th>Sucursal</th>
        <th>Turno</th>
        <th>Salario</th>
        <th>Rol</th>
        <th>Bonificación</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    {% for e in entities %}
        <tr>
            <td>{{ e.nombre }}</td>
            <td>{{ e.empresa }}</td>
            <td>{{ e.cliente }}</td>
            <td>{{ e.sucursal }}</td>
            <td>{{ e.turno }}</td>
            <td>{{ e.salario }}</td>
            <td>{{ e.rol }}</td>
            <td>{{ e.bonificacion }}</td>
            <td></td>
        </tr>
    {% else %}
        <tr><td colspan="3">No se encontraron elementos.</td></tr>
    {% endfor %}
    </tbody>
</table>

{% if entities | length > 10 %}
    <div style="text-align: center;"><div>{{ knp_pagination_render(entities) }}</div>
{% endif %}
