
{% extends '::base.html.twig' %}
{% set headline="Gestionar Ausencias" %}
{% block title %}
Sistema de Planillas:{{ headline }}
{% endblock %}
{% block headline %}
    {{ headline }}
{% endblock headline %}
{% block foot_script %}
    {{ parent() }}
<!--<script src="{# asset('bundles/planillascore/js/jquery.ui.1.8.16.js') #}"></script>-->
<script>
    $(function() {

        $('#planillas_corebundle_causencias_fechaInicio').datepicker
                ({
                    format: "yyyy-mm-dd"
                });
        $('#planillas_corebundle_causencias_fechaFin').datepicker
                ({
                    format: "yyyy-mm-dd"
                });

       
       $('#planillas_corebundle_buscar_ausencia_fechaInicio').datepicker
                ({
                    format: "yyyy-mm-dd"
                });
       $('#planillas_corebundle_buscar_ausencia_fechaFin').datepicker
                ({
                    format: "yyyy-mm-dd"
                });
        $('#add_new').click(function(){
            //$.resetForm()
             //$('#ausenciasForm').resetForm();
            $('#planillas_corebundle_causencias_empleado').val(1);
            $('#planillas_corebundle_causencias_fechaInicio').val("");
            $('#planillas_corebundle_causencias_fechaFin').val("");
            $('#planillas_corebundle_causencias_tipoAusencia').val(0);
            $('#planillas_corebundle_causencias_motivo').val("");
            $('#planillas_corebundle_causencias_id').val("");
            $('#btn_actualizar').html('Crear');
             $('#myTab a:first').tab('show');

        })
       



    })

    function buscar(id){
        $.ajax({
            url:'{{ path('cautocomplete') }}',
            data:{id:id},
            dataType:'json',
            success:function(data)
            {
                $('#planillas_corebundle_causencias_empleado').val(data.data.empleado);
                $('#planillas_corebundle_causencias_fechaInicio').val(data.data.fechaInicio);
                $('#planillas_corebundle_causencias_fechaFin').val(data.data.fechaFin);
                $('#planillas_corebundle_causencias_tipoAusencia').val(data.data.tipoAusencia);
                $('#planillas_corebundle_causencias_motivo').val(data.data.motivo);
                $('#planillas_corebundle_causencias_id').val(data.data.id);
                $('#btn_actualizar').html('Actualizar');
                $('#myTab a:first').tab('show');

            }

        })
    }

    </script>
{% endblock %}
{% block content_content %}

    {% block content %}

    <ul id="myTab" class="nav nav-tabs">
        <li><a href="#ausencias" data-toggle="tab">Ausencias</a></li>
        <li class="active"><a href="#historial" data-toggle="tab">Historial Ausencias</a></li>

    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade" id="ausencias">
            <br/>
            <div class="row">
                <div class="col-lg-12">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">Agregar Ausencia</h2>
                        </div>
                        <div class="panel-body">
                            <form class="form-horizontal" action="{{ path('causencias_create') }}"
                                  method="post" {{ form_enctype(form) }} name="ausenciasForm" id="ausenciasForm">
                                <fieldset>
                                    <div class="row-fluid">
                                        <div class="col-lg-4">{{ form_row(form.empleado) }}</div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <input type="hidden"  class=" not-removable form-control"  name="planillas_id[id]" id="planillas_corebundle_causencias_id">
                                        {{ form_errors(form) }}
                                    <div class="row-fluid">
                                        <div class="col-lg-4">{{ form_row(form.tipoAusencia) }}</div>
                                        <div class="col-lg-4">
                                                {{ form_row(form.fechaInicio) }}

                                            </div>
                                            <div class="col-lg-4">{{ form_row(form.fechaFin) }}</div>


                                        </div>

                                    </fieldset>
                                    <fieldset>
                                        <div class="row-fluid">
                                            <div class="col-lg-4">{{ form_row(form.motivo) }}</div>


                                        </div>

                                    </fieldset>
                                    {{ form_rest(form) }}
                                    <fieldset>
                                        <legend></legend>
                                        <div class="btn-group">
                                            <button type="submit" id="btn_actualizar" name="btn_actualizar" class="btn btn-primary">Crear</button>

                                        </div>
                                        <div class="btn-group">
                                            <a href="{{ path('causencias') }}" class="btn btn-default">Regresar</a>

                                        </div>
                                    </fieldset>
                                </form>

                            </div>
                        </div>


                    </div>
                </div>
            </div>

            <div class="tab-pane fade active in" id="historial">
                <br/>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Buscar Ausencias</h2>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal" action="{{ path('causencias') }}"
                              method="post" id="form_buscar_ausencias">
                            <fieldset>


                                <div class="row-fluid">
                                    <div class="col-lg-4">{{ form_row(form_buscar.empleado) }}</div>
                                    <div class="col-lg-4">

                                        {{ form_row(form_buscar.fechaInicio) }}</div>
                                    <div class="col-lg-4">{{ form_row(form_buscar.fechaFin) }}</div>

                                </div>
                                  {{ form_rest(form_buscar) }}
                            </fieldset>

                            <fieldset>
                                <legend></legend>
                                <div class="btn-group">
                                    <button type="submit" id="reiniciar_ausencias" name="btn_buscar" class="btn btn-default">
                                        Buscar
                                    </button>

                                </div>
                                <div class="btn-group">

                                    <button type="submit" id="reiniciar_ausencias" name="btn_reiniciar"
                                            class="btn btn-primary">Reiniciar
                                    </button>
                                </div>
                            </fieldset>

                    </div>
                    </form>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <div class="btn-group">

                                <a class="btn btn-primary" id="add_new" href="#">
                                    Agregar
                                </a>
                            </div>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Ausencia</th>
                                    <th>Empleado</th>
                                    <th>Motivo</th>
                                    <th>Fechainicio</th>
                                    <th>Fechafin</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% set tipoAusencia=['Uniformes','Sanciones','Préstamos'] %}
                            {% for entity in pagination %}
                                    <tr>
                                        <td><a href="{{ path('causencias_edit', { 'id': entity.id }) }}">

                                                {% for ausencia in tipoAusencia  %}
                                                    {{ ausencia }}
                                                {% endfor %}
                                                {{ entity.tipoausencia }}</a></td>
                                        <td>{{ entity.empleado }}</td>

                                        <td>{% if entity.fechaInicio %}{{ entity.fechaInicio|date('Y-m-d') }}{% endif %}</td>
                                        <td>{% if entity.fechaFin %}{{ entity.fechaFin|date('Y-m-d') }}{% endif %}</td>

                                        <td>{{ entity.motivo }}</td>
                                        <td>

                                            <a class="btn btn-primary" id="linkedit" onclick="buscar('{{  entity.id }}')"
                                               href="#"><i
                                                    class="glyphicon glyphicon-pencil"></i>Editar</a>
                                            <a class="btn btn-primary" href="{{ path('causencias_delete',{'id':entity.id}) }}"><i
                                                    class="glyphicon glyphicon-trash"></i>Eliminar</a>

                                        </td>
                                    </tr>
                            {% endfor %}

                                </tbody>
                            </table>

                        {{ knp_pagination_render(pagination) }}


                        </div>
                    </div>
                </div>





            </div>


     </div>






    {% endblock content %}


{% endblock %}

