<div id="salario_{{ datos_personales.id }}" style="display: none">
    {# bonificaciones #}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Bonificaciones</th>
                <th style="text-align: right">Monto</th>
            </tr>
        </thead>
        <tbody>
        {% if datos_economicos.bonificaciones|length >0 %}
            {% for bonificaciones in datos_economicos.bonificaciones %}
                {% for bonificacion in bonificaciones %}
                <tr>
                    <td>
                        {% if  bonificacion.descripcion == null %}

                            Fecha Vencimiento: {{ bonificacion.fecha_inicio}}
                        {% else %}
                            {{ bonificacion.descripcion }}
                        {% endif %}
                    </td>
                    <td style="text-align: right">
                        ¢{{ bonificacion.monto_total }}
                    </td>

                </tr>
                {% endfor %}
            {% endfor %}
            <tr>
                <td></td>
                <td style="text-align: right">
                    <em><strong>Total: ¢{{ datos_economicos.bonificaciones.total }}</strong></em>
                </td>
            </tr>
        {% endif %}
        </tbody>
    </table>
    {# rebajos #}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Rebajos</th>
            <th>Periodo de pago</th>
            <th style="text-align: right">Monto</th>
        </tr>
        </thead>
        <tbody>
        {% if datos_economicos.deudas|length >0 %}
            {% for deudas in datos_economicos.deudas %}
                {% for deuda in deudas %}
                    <tr>
                        <td>
                            {% for key, deudatext in tipodeuda %}
                                {% if key==deuda.componente %}
                                    {{ deudatext }}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% if deuda.permanente %}
                                {{ 'Permanente' }}
                            {% else %}
                                {{ deuda.fecha_inicio }}
                            {% endif %}
                        </td>
                        <td style="text-align: right">
                            ¢{{ deuda.monto_total }}
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td style="text-align: right">
                    <em><strong>Total: ¢{{ datos_economicos.deudas.total }}</strong></em></td>
            </tr>
        {% endif %}
        </tbody>

    </table>
    {# dias extras #}
    <table class="table table-bordered">
        <thead>
        <tr>

            <th>Días extras</th>

            <th style="text-align: right">Monto</th>

        </tr>
        </thead>
        <tbody>
        {% if datos_economicos.dias_extra|length >0 %}

            {% for dias_extra in datos_economicos.dias_extra %}
                {% for dia in dias_extra %}


                    <tr>

                        <td>
                            {{ dia.fecha }}
                        </td>
                        <td style="text-align: right">
                            ¢{{ dia.monto_total }}
                        </td>

                    </tr>

                {% endfor %}


            {% endfor %}
            <tr>
                <td></td>

                <td style="text-align: right">
                    <em><strong>Total: ¢{{ datos_economicos.dias_extra.total }}</strong></em></td>
            </tr>
        {% endif %}
        </tbody>

    </table>
    {# horas extras #}
    <table class="table table-bordered">
        <thead>
        <tr>

            <th>Horas extras</th>

            <th style="text-align: right">Monto</th>

        </tr>
        </thead>
        <tbody>
        {% if datos_economicos.horas_extras|length >0 %}

            {% for horas_extras in datos_economicos.horas_extras %}
                {% for hora in horas_extras %}
                    <tr>
                        <td>
                            {{ hora.fecha }}
                        </td>
                        <td style="text-align: right">
                            ¢{{ hora.monto_total }}
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
            <tr>
                <td></td>

                <td style="text-align: right">
                    <em><strong>Total: ¢{{ datos_economicos.horas_extras.total }}</strong></em></td>
            </tr>
        {% endif %}
        </tbody>

    </table>
    {# dias menos #}
    <table class="table table-bordered">
        <thead>
        <tr>

            <th>Días menos</th>

            <th style="text-align: right">Monto</th>

        </tr>
        </thead>
        <tbody>
        {% if datos_economicos.dias_menos|length >0 %}

            {% for dias_menos in datos_economicos.dias_menos %}
                {% for menos in dias_menos %}
                    <tr>
                        <td>
                            {{ menos.fecha }}
                        </td>
                        <td style="text-align: right">
                            ¢{{ menos.monto_total }}
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
            <tr>
                <td></td>

                <td style="text-align: right">
                    <em><strong>Total: ¢{{ datos_economicos.dias_menos.total }}</strong></em></td>
            </tr>
        {% endif %}
        </tbody>

    </table>
    {# incapacidades #}
    <table class="table table-bordered">
        <thead>
        <tr>

            <th>Incapacidades</th>
            <th>Descripción</th>
            <th style="text-align: right">Monto</th>


        </tr>
        </thead>
        <tbody>
        {% set incapacidadesArray=['Incapacidades CCSS','Incapacidades INS']%}
        {% if datos_economicos.incapacidades|length >0 %}

            {% for incapacidades in datos_economicos.incapacidades %}
                {% for incapacidad in incapacidades %}
                    <tr>
                        <td>
                            {{ incapacidad.fecha }}
                        </td>
                        <td>
                            {{ incapacidadesArray[incapacidad.incapacidad] }}
                        </td>
                        <td style="text-align: right">
                            ¢{{ incapacidad.monto_total }}
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td style="text-align: right">
                    <em><strong>Total: ¢{{ datos_economicos.incapacidades.total }}</strong></em></td>
            </tr>
        {% endif %}
        </tbody>

    </table>
</div>