{% extends '::base.html.twig' %}

{% block headline %}
    Planilla de pago
{% endblock headline %}
{% block content_content %}
    {% if search_form is defined %}
        {% include '@PlanillasCore/CPlanillas/_form_periodo_planilla.html.twig' with {'search_form': search_form} %}
    {% endif %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Planilla de efectivo</h3>
    </div>
    <div class="panel-body">

        <fieldset>
            {% if form is defined %}
            {{ form_start(form) }}
                {{ form_widget(form.fecha_inicio) }}
                {{ form_widget(form.fecha_fin) }}
                {{ form_widget(form._token) }}
                <div class="form-actions">
                    {{ form_widget(form.guardar) }}
                    {{ form_widget(form.exportar) }}
                </div>
            {{ form_end(form) }}
            {% endif %}
            {#
            <input type="hidden" name="id" value="{% if entities.id_planilla >0%} {{ entities.id_planilla }}{% endif%}">
            <legend></legend>
            {% if entities.id_planilla < 1 %}
            <div class="btn-group">

                <button type="submit" class="btn btn-primary" name="btn-save" value="guardar">Guardar</button>

            </div>
            {% endif %}
            <div class="btn-group">
                <button type="submit" class="btn btn-default" name="btn-exportar" value="generar">Exportar Planilla</button>
            </div>
            #}
        </fieldset>


        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Cédula</th>
                    <th>Empleado</th>
                    <th>Bruto</th>
                    <th>Bonificaciones</th>
                    <th>Días Extras</th>
                    <th>Días Menos</th>
                    <th>Incapacidades</th>
                    <th>Horas Extras</th>
                    <th>Rebajos</th>
                    <th>Total</th>
                    <th>Detalles</th>
                </tr>
            </thead>
            <tbody>
            {% if empleados | length > 0 %}
                {% set tipodeuda=['Uniformes','Sanciones','Préstamos'] %}
                {% for entity in empleados %}
                    {% set datos_personales=entity.datos_personales %}
                    {% set datos_economicos=entity.datos_economicos %}
                    <tr>
                        <td align="left">{{ datos_personales.cedula }}</td>
                        <td>{{ datos_personales.nombre }}  {{ datos_personales.apellidos }}</td>
                        <td>¢{{ datos_economicos.salario_base }}</td>
                        <td>¢{{ datos_economicos.bonificaciones.total }}</td>
                        <td>¢{{ datos_economicos.dias_extra.total }}</td>
                        <td>¢{{ datos_economicos.dias_menos.total }}</td>
                        <td>¢{{ datos_economicos.incapacidades.total }}</td>
                        <td>¢{{ datos_economicos.horas_extras.total }}</td>
                        <td>¢{{ datos_economicos.deudas.total }}</td>
                        <td>¢{{ datos_economicos.salario_total_empleado }} </td>
                        <td>
                            <a href="#" id="details_{{ datos_personales.id }}" class="btn btn-primary"
                               title="Detalles de la planilla">
                                <i class="glyphicon glyphicon-eye-open"></i> Detalles</a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="11">
                            {% include 'PlanillasCoreBundle:CPlanillas:_datos_empleado_planilla.html.twig'
                                with {'datos_personales': datos_personales, 'datos_economicos':datos_economicos} %}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
            <tr>
                <td colspan="11">No existen elementos que mostrar.</td>
            </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block foot_script %}
{{ parent() }}
<script type="text/javascript">
    $(document).ready(function () {
        $('input#payments_periodo_planilla_fechaInicio').datepicker({
            format: "yyyy-mm-dd"
        });
        $('input#payments_periodo_planilla_fechaFin').datepicker({
            format: "yyyy-mm-dd"
        });

        $('a[id^="details_"]').on('click', function (event) {
            event.preventDefault();

            var id = $(this).attr('id');
            var data = id.split('_');

            $("#salario_" + data[1]).slideToggle(300);
        });
    })
</script>
{% endblock %}