{% extends '::base.html.twig' %}
{% import 'PlanillasCoreBundle:Macros:macros.html.twig' as macros %}
{% block content_content %}
   <div class="row">
                {% block content %}
                    <div class="col-lg-9">
                        
                     <div class="panel panel-default">
						<div class="panel-heading">
							<h2 class="panel-title">Personas que dependen</h2>
						</div>
						<div class="panel-body">
						<table class="table table-bordered table-hover table-responsive">
						<thead>
							<tr>
								<th>Parentesco</th>
								<th>Nombre</th>
								<th>Edad</th>
								<th>Ocupación</th>
								<th>Acciones</th>
							</tr>
						</thead>
						<tbody>
						{% for entity in entities %}
							<tr>
								<td><a href="{{ path('personadepende_edit', { 'id': entity.id }) }}">{{ entity.parentesco }}</a></td>
								<td><a href="{{ path('personadepende_edit', { 'id': entity.id }) }}">{{ entity.nombre }}</a></td>
								<td><a href="{{ path('personadepende_edit', { 'id': entity.id }) }}">{{ entity.edad }}</a></td>
								<td><a href="{{ path('personadepende_edit', { 'id': entity.id }) }}">{{ entity.ocupacion }}</a></td>
								<td>
                                    <div style="float: left">
                                        <a class="btn btn-primary" href="{{ path('personadepende_edit', { 'id': entity.id }) }}">Editar</a>
                                    </div>

								</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>

						<a href="{{ path('personadepende_new',{ 'id_empleado': eEmpleado.id }) }}" class="btn btn-primary">Adicionar</a>
						</div>
					</div>
                       
                    </div>
                    <div class="col-sm-3">
					{{ macros.empleado_foto(eEmpleado) }}
					{{ macros.menu_empleado('personadepende',eEmpleado) }}
                    </div>
                {% endblock content %}
    </div>
    {% endblock %}
