{% extends "::base.html.twig" %}

{% import 'PlanillasCoreBundle:Macros:macros.html.twig' as macros %}

{% block title 'Crear archivo registro laboral' %}

{% block headline 'Crear archivo registro laboral' %}

{% block content %}
    <div class="col-sm-9">
        {{ form_start(form) }}

        {{ form_row(form.tipoRegistroLaboral) }}
        {{ form_row(form.descripcion) }}
        {{ form_row(form.file) }}

        <div class="form-actions">
            {{ form_widget(form.submit) }}
            {{ form_widget(form.cancelar) }}
        </div>

        {{ form_widget(form._token) }}

        {{ form_end(form) }}
    </div>


    <div class="col-sm-3">
        {{ macros.empleado_foto(eEmpleado) }}
        {{ macros.menu_empleado('registrolaboral',eEmpleado) }}
    </div>
{% endblock content %}