{% extends '::base.html.twig' %}
{% import 'PlanillasCoreBundle:Macros:macros.html.twig' as macros %}
{% block title %}
    Gestionar Salario
{% endblock %}

{% block content_content %}

    
    {% block content %}
    {% set tipodeuda=['Uniformes','Sanciones','Préstamos'] %}
    <div class="row-fluid">  
        <div class="col-lg-9">
             <ul id="myTab" class="nav nav-tabs">
                <li class="active"><a href="#sueldoedit" data-toggle="tab">Sueldo</a></li>
                <li><a href="#historialedit" data-toggle="tab">Historial de Deudas</a></li>

            </ul> 
            <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="sueldoedit">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Salario Base</h2>
                </div>
                <div class="panel-body">
				
                    {{ form_errors(edit_form) }}
                    {{form_start(edit_form)}}
                        <fieldset>

                            
                            <div class="row-fluid">
                                <div class="col-lg-6">{{ form_row(edit_form.salarioBase) }}</div>
                                <div class="col-lg-6">{{ form_widget(edit_form.seguro) }}</div>
                               
                            </div>

                        </fieldset>
                        
                       
                        <hr/>
                        {{ form_rest(edit_form) }}
                       {{form_end(edit_form)}}

                    
                </div>
            </div>
           
            
             <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Asignación de Componentes Salariales</h2>
                </div>
                <div class="panel-body">
				    <fieldset>
					 <a class="btn btn-primary" href="{{ path('ecomponentessalariales_new',{'id_empleado':eEmpleado.id}) }}">Adicionar</a>
					</fieldset>

                        {# render(controller('PlanillasEntidadesBundle:EComponentesSalariales:salarioTotalByIdEmpleado',{'id_empleado':eEmpleado.id}))#}

                        <hr/>
					 <fieldset>
					
                    {{ render(controller('PlanillasEntidadesBundle:EComponentesSalariales:componentesByIdEmpleado',{'id_empleado':eEmpleado.id}))}}
                      
					</fieldset>     
                </div>
            </div>
           </div>
           <div class="tab-pane fade" id="historialedit">
            <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>

                            <th>Componente</th>
                            <th>Tipo</th>
                            <th>Planilla de efectivo</th>

                            <th>Moneda</th>
                            <th>Monto</th>
                            <th>Pagado</th>
                            <!--<th>Acción</th>-->

                        </tr>
                    </thead>
                    <tbody>
                    {% for entitys in entities %}


                        <tr>
                            <td>{%if entitys.componente==0%}Rebajo{% else %}Bonificación{%endif%}</td>{#esto hay que cambiarlo#}
                            <td>
                                {% if entitys.componente ==0 %}
                                    {{tipodeuda[entitys.tipoDeuda]}}


                                {%else%}
                                    ----
                                {% endif%}
                            </td>
                            <td>
                                {{entitys.planilla.fechaInicio|date('d-m-Y')}} al {{entitys.planilla.fechaFin|date('d-m-Y')}}

                            </td>
                            <td>{% if entitys.moneda==0%}Colón{% else %}USD{%endif%}</td>
                            <td>
                                {% if entitys.componente ==0 %}
                                    ¢{{ entitys.montoTotal }}
                                {% else %}
                                    ¢{{ entitys.cantidad }}

                                {% endif %}

                            </td>
                            <td>

                                <i class="glyphicon glyphicon-ok" title="Pagado"></i>



                            </td>
                            <!--
                                    <td>
                                        <a href="{# path('ecomponentessalariales_delete',{'id':entitys.id})#}" class="btn btn-primary"><i class="glyphicon glyphicon-trash"></i> Eliminar</a>

                                    </td>-->
                        </tr>

                    {% endfor %}


                    </tbody>
                        </table>
           </div>
        </div> <!--Div general del tab-->
        </div>
        </div>
            <div class="col-sm-3">
                {{ macros.empleado_foto(eEmpleado) }}
                {{ macros.menu_empleado('sueldo',eEmpleado) }}
            </div>
        



        </div>
    {% endblock content %}
    </div>

{% endblock %}
