{% extends '::base.html.twig' %}

{% block body -%}
    <h1>CSalarioBase list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Salariobase</th>
                <th>Seguro</th>
                <th>Periodopago</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('csalariobase_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.salarioBase }}</td>
                <td>{{ entity.seguro }}</td>
                <td>{{ entity.periodoPago }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('csalariobase_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('csalariobase_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
