{% extends '::base.html.twig' %}
{% import 'PlanillasCoreBundle:Macros:macros.html.twig' as macros %}
{% block title %}
    Adiciona Empleado
{% endblock %}

{% block content_content %}
    {% for mensaje in app.session.flashbag.all() %}
        <div class="alert alert-info">{{ mensaje }}</div>
    {% endfor %}
    <div class="row">
    {% block content %}
        <div class="col-lg-9">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Salario</h2>
                </div>
                <div class="panel-body">

                    {{ form_errors(form) }}
                    {{form_start(form)}}
                    <fieldset>
                        <div class="row-fluid">
                            <div class="col-lg-4">{{ form_row(form.salarioBase) }}</div>
                            <div class="col-lg-4">{{ form_widget(form.seguro) }}</div>
                            <div class="col-lg-4">{{ form_row(form.periodoPago) }}</div>

                        </div>
                    </fieldset>
                    {{ form_rest(form) }}
                    {{form_end(form)}}

                    <form>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Asignación de Componentes Salariales</h2>
                </div>
                <div class="panel-body">
                    <fieldset>
                        <a class="btn btn-primary" href="{{ path('ecomponentessalariales_new',{'id_empleado':eEmpleado.id}) }}">Agregar</a>
                    </fieldset>
                    <hr/>
                    <fieldset>

                        {{ render(controller('PlanillasEntidadesBundle:EComponentesSalariales:salarioTotalByIdEmpleado',{'id_empleado':eEmpleado.id}))}}
                    </fieldset>
                    <hr/>
                    <fieldset>

                        {{ render(controller('PlanillasEntidadesBundle:EComponentesSalariales:componentesByIdEmpleado',{'id_empleado':eEmpleado.id}))}}

                    </fieldset>

                </div>
            </div>

        </div>
        <div class="col-sm-3">
            {{ macros.empleado_foto() }}
            {{ macros.menu_empleado('sueldo',eEmpleado) }}
        </div>




        </div>
    {% endblock content %}
    </div>

{% endblock %}

