{% extends '::base.html.twig' %}

{% block body -%}
    <h1>CSalarioBase</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Salariobase</th>
                <td>{{ entity.salarioBase }}</td>
            </tr>
            <tr>
                <th>Seguro</th>
                <td>{{ entity.seguro }}</td>
            </tr>
            <tr>
                <th>Periodopago</th>
                <td>{{ entity.periodoPago }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('csalariobase') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('csalariobase_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
