{% extends '::base.html.twig' %}
{% import 'PlanillasCoreBundle:Macros:macros.html.twig' as macros %}
{% block title %}
    Lista de Familiares
{% endblock %}
{% block content_content %}
	{% for mensaje in app.session.flashbag.get('info') %}
		
	{% endfor %}
		<div class="row">
                {% block content %}
                    <div class="col-lg-9">
                        
                     <div class="panel panel-default">
						<div class="panel-heading">
							<h2 class="panel-title">Datos Familiares</h2>
						</div>
						<div class="panel-body">
						    <table class="table table-bordered table-hover table-responsive">
						<thead>
							<tr>
								<th>Parentesco</th>
								<th>Nombre</th>
								<th>Edad</th>
								<th>Ocupación</th>
								<th>Acciones</th>
							</tr>
						</thead>
						<tbody>
                                                {% if entities|length >0%}
						{% for entity in entities %}
							<tr>
								<td><a href="{{ path('familia_edit', { 'id': entity.id }) }}">{{ entity.parentesco }}</a></td>
								<td><a href="{{ path('familia_edit', { 'id': entity.id }) }}">{{ entity.nombre }}</a></td>
								<td>{{entity.edad }}</td>
								<td>{{entity.ocupacion }}</td>
								<td>
                                 <div style="float: left">
                                    <a class="btn btn-primary" href="{{ path('familia_edit', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-pencil"></i>Editar</a>
                                 </div>                                                                   
                                     <div style="float: left; padding-left: 10px">
                                            {{ form_start(aDeleteForm[entity.id]) }}

                                        
                                             <div>
                                                <button class="btn btn btn-primary" name="form[submit]" id="form_submit" type="submit">
                                                    <i class="glyphicon glyphicon-trash"></i>Eliminar
                                                </button>
                                             </div>
                                              {{form_row(aDeleteForm[entity.id]._token)}}
                                             
                                             </form>
                                            </div>                             
						         

								</td>
							</tr>
                                               
                                                
						{% endfor %}
                                                {%else%}
                                                        <tr>
                                                            <td colspan="5">
                                                                No hay datos que mostrar
                                                            </td>
                                                        </tr>
                                                {%endif%}
						</tbody>
					</table>
                       <hr>
						<a href="{{ path('familia_new',{ 'id_empleado': eEmpleado.id }) }}" class="btn btn-primary">Adicionar</a>
						</div>
					</div>
                       
                    </div>
                    <div class="col-sm-3">
					{{ macros.empleado_foto(eEmpleado) }}
					{{ macros.menu_empleado('familiares',eEmpleado) }}
                    </div>
                {% endblock content %}
    </div>




   {% endblock %}

