{% extends '::base.html.twig' %}
{% import 'PlanillasCoreBundle:Macros:macros.html.twig' as macros %}
{% block title %}
    Modificar Empleado
{% endblock %}
{% block content_content %}
	{% for mensaje in app.session.flashbag.get('info') %}
		
	{% endfor %}
		<div class="row">
                {% block content %}
                    <div class="col-lg-9">
                        
                     <div class="panel panel-default">
						<div class="panel-heading">
							<h2 class="panel-title">Datos Familiares</h2>
						</div>
						<div class="panel-body">
						    <table class="table table-bordered table-hover table-responsive">
						<thead>
							<tr>
								<th>Parentesco</th>
								<th>Nombre</th>
								<th>Edad</th>
								<th>Ocupacion</th>
								<th>Acciones</th>
							</tr>
						</thead>
						<tbody>
						{% for entity in entities %}
							<tr>
								<td><a href="{{ path('familia_edit', { 'id': entity.id }) }}">{{ entity.parentesco }}</a></td>
								<td><a href="{{ path('familia_edit', { 'id': entity.id }) }}">{{ entity.nombre }}</a></td>
								<td>{{entity.edad }}</td>
								<td>{{entity.ocupacion }}</td>
								<td>
                                 <div style="float: left">
                                    <a class="btn btn-primary" href="{{ path('familia_edit', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-pencil"></i>Editar</a>
                                 </div>                                                                   
                                     <div style="float: left; padding-left: 10px">
                                        {{ form_start(aDeleteForm[entity.id]) }}
										 
                                        {{ form_errors(aDeleteForm[entity.id]) }}
                                        {{ form_end(aDeleteForm[entity.id]) }} 
                                     </div>                              
						         

								</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
                       <hr>
						<a href="{{ path('familia_new',{ 'id_empleado': eEmpleado.id }) }}" class="btn btn-primary">Adicionar</a>
						</div>
					</div>
                       
                    </div>
                    <div class="col-sm-3">
					{{ macros.empleado_foto(eEmpleado) }}
					{{ macros.menu_empleado('familiares',eEmpleado) }}
                    </div>
                {% endblock content %}
    </div>




   {% endblock %}

