{% extends '::base.html.twig' %}
{% import 'PlanillasCoreBundle:Macros:macros.html.twig' as macros %}
{% block title %}
    Modificar curso
{% endblock %}
{% block foot_script %}
  {{ parent() }}
    <script>
         $(function() {
            
           $('#planillas_entidadesbundle_ecursos_vence').datepicker
		   ({
           format: "yyyy-mm-dd"
          });
        });
    </script>
{% endblock %}    
{% block content_content %}
   {% for mensaje in app.session.flashbag.get('success') %}
    mensajes_flash (success,{{mensaje}})
   {% endfor %}
   
    <div class="row">
        {% block content %}   
            <div class="col-lg-9">
             <div class="panel panel-default"> <!-- Panel central -->
                    <div class="panel-heading"> <!-- Encabezado panel central -->
                     <h2 class="panel-title">Modificar Curso</h2>
                    </div>  
                    <div class="panel-body">
                      {{ form_start(edit_form) }}
                            <fieldset>
                                <legend></legend>
                                {{ form_errors(edit_form) }}
                                <div class="row-fluid">
                                    <div class="col-lg-6">{{ form_row(edit_form.nombre) }}</div>
                                    <div class="col-lg-6">{{ form_row(edit_form.descripcion) }}</div>
                                    <div class="col-lg-6">{{ form_row(edit_form.vence) }}</div>
                                </div>
                            </fieldset>
                        <hr>    
                        <fieldset>
                        
                        <div class="btn-group">
                            <button type="submit" name="btn_actualizar" class="btn btn-primary">Actualizar</button>

                        </div>
                        <div class="btn-group">
                           <a href="{{ path('cursos', { 'id_empleado': entity.empleado.id } ) }}" class="btn btn-default">Regresar</a>

                        </div>
                        </fieldset>
                        {{ form_end(edit_form) }} 
                            
                    </div> 
             </div>
            </div> 
            <div class="col-sm-3"> <!-- Menu derecho de empleado -->
			 {{ macros.empleado_foto(entity.empleado) }}         
	                 {{ macros.menu_empleado('cursos',entity.empleado) }}
         </div>
        {% endblock content %}          
    </div>        
{% endblock %}
