{% extends '::base.html.twig' %}

{% set _preview      = block('preview') %}
{% set _form         = block('form') %}
{% set _show         = block('show') %}
{% set _list_table   = block('list_table') %}
{% set _list_filters = block('list_filters') %}
{% set _side_menu    = block('side_menu') %}
{% set _content      = block('content') %}
{% set _title        = block('title') %}
{% set _breadcrumb   = block('breadcrumb') %}
{% set _actions      = block('actions') %}


{% block head_style %}
    {{ parent() }}
    <!-- jQuery code -->
    <link rel="stylesheet" href="{{ asset('bundles/sonatajquery/themes/flick/jquery-ui-1.8.16.custom.css') }}" type="text/css" media="all" />

    {#<link rel="stylesheet" href="{{ asset('bundles/sonataadmin/bootstrap/css/bootstrap.min.css') }}" type="text/css" media="all"  />
    <link rel="stylesheet" href="{{ asset('bundles/sonataadmin/bootstrap/css/bootstrap-responsive.min.css') }}" type="text/css" media="all" />#}

    <!-- base application asset -->
    {#<link rel="stylesheet" href="{{ asset('bundles/sonataadmin/css/layout.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/sonataadmin/css/colors.css') }}" type="text/css" media="all" />#}
{% endblock %}


{% block body_tag %}
<body class="sonata-bc {% if _side_menu is empty %}sonata-ba-no-side-menu{% endif %}">
{% endblock body_tag %}


{% block navbar %}
    {{ mopa_bootstrap_navbar('frontendNavbar') }}
{% endblock navbar %}


{% block flashes %}
    {% block notice %}
        {% for notice_level in ['success','error','info', 'warning'] %}
            {% set session_var = 'sonata_flash_' ~ notice_level %}
            {% for flash in app.session.flashbag.get(session_var) %}
                <div class="alert {{ 'alert-' ~ notice_level }}">
                    {{ flash|trans([], 'SonataAdminBundle') }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endblock %}
{% endblock flashes %}


{% block content_row %}
    <div class="row">
        {% if _breadcrumb is not empty or action is defined %}
            <div class="col-lg-6">
                <ul class="breadcrumb">
                    {% if _breadcrumb is empty %}
                        {% if action is defined %}
                            {% for menu in admin.breadcrumbs(action) %}
                                {% if not loop.last  %}
                                    <li>
                                        {% if menu.uri is not empty %}
                                            <a href="{{ menu.uri }}">{{ menu.label }}</a>
                                        {% else %}
                                            {{ menu.label }}
                                        {% endif %}
                                        <span class="divider">/</span>
                                    </li>
                                {% else %}
                                    <li class="active">{{ menu.label }}</li>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% else %}
                        {{ _breadcrumb|raw }}
                    {% endif %}
                </ul>
            </div>
        {% endif %}

        {% if _actions is not empty %}
            <div class="col-lg-4 offset2">
                {{ _actions|raw }}
            </div>
        {% endif %}
    </div>

    <div class="row">
        {% if _side_menu is not empty %}
            <div class="sidebar col-lg-2">
                <div class="well sonata-ba-side-menu" style="padding: 8px 0;">{{ _side_menu|raw }}</div>
            </div>
        {% endif %}

        <div class="content {{ _side_menu is not empty ? ' col-lg-10' : 'col-lg-12' }}">
            {% block sonata_admin_content %}

                {% if _preview is not empty %}
                    <div class="sonata-ba-preview">{{ _preview|raw }}</div>
                {% endif %}

                {% if _content is not empty %}
                    <div class="sonata-ba-content">{{ _content|raw }}</div>
                {% endif %}

                {% if _show is not empty %}
                    <div class="sonata-ba-show">{{ _show|raw }}</div>
                {% endif %}

                {% if _form is not empty %}
                    <div class="sonata-ba-form">{{ _form|raw }}</div>
                {% endif %}

                {% if _list_table is not empty or _list_filters is not empty %}
                    <div class="row">
                        <div class="sonata-ba-list col-lg-10">
                            {{ _list_table|raw }}
                        </div>
                        <div class="sonata-ba-filter col-lg-2">
                            {{ _list_filters|raw }}
                        </div>
                    </div>
                {% endif %}

            {% endblock %}
        </div>
    </div>

{% endblock content_row %}


{% block footer %}
    <div class="row">
        <div class="col-lg-2 offset10 pull-right">
            {#<span class="label"><a href="http://sonata-project.org" rel="noreferrer" style="text-decoration: none; color: black">Sonata Project</a></span>#}
        </div>
    </div>
{% endblock %}

{% block foot_script %}
    {{ parent() }}

    <script type="text/javascript">
        window.SONATA_CONFIG = {
            CONFIRM_EXIT: {% if admin_pool is defined and admin_pool.getOption('confirm_exit') %}true{% else %}false{% endif %}
        };
        window.SONATA_TRANSLATIONS = {
            CONFIRM_EXIT:  '{{ 'confirm_exit'|trans({}, 'SonataAdminBundle')|escape('js') }}'
        };
    </script>
    {#<script src="{{ asset('bundles/sonatajquery/jquery-1.8.3.js') }}" type="text/javascript"></script>#}
    <script src="{{ asset('bundles/sonatajquery/jquery-ui-1.8.23.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sonatajquery/jquery-ui-i18n.js') }}" type="text/javascript"></script>

    {#<script src="{{ asset('bundles/sonataadmin/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>#}

    <script src="{{ asset('bundles/sonataadmin/jquery/jquery.form.js') }}" type="text/javascript"></script>
    {% if admin_pool is defined and admin_pool.getOption('confirm_exit') %}<script src="{{ asset('bundles/sonataadmin/jquery/jquery.confirmExit.js') }}" type="text/javascript"></script>{% endif %}
    <script src="{{ asset('bundles/sonataadmin/base.js') }}" type="text/javascript"></script>

{% endblock foot_script  %}
