{% extends '::base.html.twig' %}
{% import 'PlanillasCoreBundle:Macros:macros.html.twig' as macros %}
{% block title %}
    Adicionar Antecedente Penal
{% endblock %}
{% block content_content %}
   {# for mensaje in app.session.flashbag.get('info') #}
    <!--<div class="alert alert-info">{# mensaje #}</div>-->
   {# endfor #}
    
    <div class="row">
        {% block content %} 
            <div class="col-lg-9">
                <div class="panel panel-default">
                    <div class="panel-heading"> <!-- Encabezado panel central -->
                        <h2 class="panel-title">Adicionar antecedente penal</h2>
                    </div>
                    <div class="panel-body">
                        {{ form_start(form) }}
                              <fieldset>
                                    <legend></legend>
                                    {{ form_errors(form) }}
                                    <div class="row-fluid">
                                        <div class="col-lg-6">{{ form_row(form.motivo) }}</div>
                                        <div class="col-lg-6">{{ form_row(form.descripcion) }}</div>
                                    </div>
                              </fieldset>
                        <hr>
                            <fieldset>
                                <div class="btn-group">
                                    <input type="submit" class="btn btn-primary" value="Adicionar">
                                </div>
                                <div class="btn-group">
                                    <a href="{{ path('antecedentepenal',{'id_empleado':entity.empleado.id}) }}" class="btn btn-default">Regresar</a>
                                </div>
                            </fieldset>
                            {{ form_end(form) }}    
                    </div>
                </div>
            </div>
            <div class="col-sm-3"> <!-- Menu derecho de empleado -->
		 {{ macros.empleado_foto(entity.empleado) }}
	     {{ macros.menu_empleado('antecedentepenal',entity.empleado) }}
         </div>
        {% endblock content %} 
    </div>      
{% endblock %}
